<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONTEXTUS.</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/png" href="../static/logo.png">
</head>
<body>
    <div class="container">
        <header class="header-flex">
            <h1>KONT<span class="highlight">EXTUS</span></h1>
            <div class="dropdown">
                <button class="dropbtn">⋮</button>
                <div class="dropdown-content">
                    <a href="#" id="give-up" class="disabled">Feladás</a>
                    <a href="#" id="hint">Tipp kérése</a>
                    <a href="#" id="informations">Információk</a>
                </div>
            </div>
        </header>
        <hr>
        <p>Nap: <span id="game-number"></span> | Tippek száma: <span id="guesses-count">0</span> | Sorozat: <span id="streak">00</span> nap</p>
        <main>
            <input type="text" placeholder="írj ide egy szót..." id="word-input">
            <button id="submit-button">Küldés</button>
            <div id="results"></div>
            <div class="instructions">
                <h2>Hogyan kell játszani?</h2>
                <p>Találd meg a titkos szót. Korlátlan számú tipped van.</p>
                <p>A szó elküldése után látni fogja a szó pozícióját. A titkos szó az 1. szám.</p>
                <p>A szavakat egy mesterséges intelligencia algoritmusa rendezte aszerint, hogy mennyire hasonlítanak a titkos szóhoz.</p>
                <p>Az algoritmus több ezer szöveget elemzett. Azt a szövegkörnyezetet használja, amelyben a szavakat használjuk a köztük lévő hasonlóság kiszámításához.</p>
                <p><strong>A játék béta verzióban van, fejlesztés alatt áll!</strong></p>
            </div>
        </main>
        <footer id="faq-section">
            <h2>GYIK</h2>
            <p><strong>Hogyan van meghatározva a sorrend?</strong></p>
            <p><strong>Tipp kérése?</strong></p>
        </footer>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Információk</h2>
            <p>Ez egy személyes projekt, amelyet már létező oldalak ihlettek, azonban azok nem voltak elérhetőek magyar szavakkal. Hibák előfordulhatnak, és még nem a legjobb a pontosság, de folyamatosan fejlesztve van.</p>
            <p>Fejlesztő: Kiss Mihály, SZTE hallgatója, és ML engineer gyakornok</p>
            <p>Email cím: kissmihalyit@gmail.com</p>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
