<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONTEXTUS.</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/png" href="../static/logo.png">
</head>
<body>
    <div class="container">
        <header class="header-flex">
            <h1>KONT<span class="highlight">EXTUS</span>.</h1>
            <div class="dropdown">
                <button class="dropbtn">⋮</button>
                <div class="dropdown-content">
                    <a href="#" id="give-up">Feladás</a>
                    <a href="#" id="hint">Segítség kérése</a>
                    <a href="#" id="informations">Információk</a>
                    <a href="#" id="game_info">A játékról</a>
                </div>
            </div>
        </header>
        <hr>
        <p>Nap: <span id="game-number"></span> | Tippek száma: <span id="guesses-count">0</span> | Sorozat: <span id="streak">0</span> nap</p>
        <main>
            <input type="text" placeholder="írj ide egy szót..." id="word-input">
            <button id="submit-button">Küldés</button>
            <div id="results"></div>
            <div class="instructions">
                <h2>Hogyan kell játszani?</h2>
                <p>Találd meg a titkos szót. Egy pontszámot fogsz kapni a tippelt szó mellé, amely azt mutatja, hogy milyen közel áll a kontextusa a titkos szóhoz. Minél kisebb szám, annál jobb a tipp! A titkos szó az 1. szám.</p>
                <p>Korlátlan számú tipped van.</p>
                <p>Csak 3 segítségkérést használhatsz egy nap!</p>
                <p>A szavakat egy mesterséges intelligencia algoritmusa rendezte aszerint, hogy mennyire hasonlítanak a titkos szóhoz.</p>
                <p><strong>A játék béta verzióban van, fejlesztés alatt áll!</strong></p>
            </div>
        </main>
        <footer id="faq-section">
        </footer>
    </div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-info-modal">&times;</span>
        <h2>Információk</h2>
        <p>Ez egy személyes projekt, amelyet már létező oldalak ihlettek, azonban azok nem voltak elérhetőek magyar szavakkal. Hibák előfordulhatnak, és még nem a legjobb a pontosság, de folyamatosan fejlesztve van.</p>
        <p>Visszajelzés: kissmihalyit@gmail.com</p>
    </div>
</div>

<div id="modal_info" class="modal_info">
    <div class="modal-content">
        <span class="close" id="close-game-info-modal">&times;</span>
        <h2>A játékról</h2>
        <p>Találd meg a titkos szót. Egy pontszámot fogsz kapni a tippelt szó mellé, amely azt mutatja, hogy milyen közel áll a kontextusa a titkos szóhoz. Minél kisebb szám, annál jobb a tipp! A titkos szó az 1. szám.</p>
        <p>Csak 3 segítségkérést használhatsz egy nap!</p>
    </div>
</div>

<div id="surrender-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-surrender-modal">&times;</span>
        <h2>Biztos, hogy feladod?</h2>
        <p>Ez megszakítja a sorozatodat.</p>
        <button id="cancel-surrender">Mégsem</button>
        <button id="confirm-surrender">Feladás</button>
    </div>
</div>


    <script src="../static/script.js"></script>
</body>
</html>
