<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4112526044003198"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontextus</title>
    <meta name="description" content="KONTEXTUS - Találd meg a titkos szót és játssz minden nap! Korlátlan számú tipp, napi egy kihívás.">
    <meta name="keywords" content="KONTEXTUS, titkos szó, játék, magyar szavak, AI, mesterséges intelligencia, szórakozás">
    <meta property="og:title" content="KONTEXTUS">
    <meta property="og:description" content="Találd meg a titkos szót és játssz minden nap!">
    <meta property="og:image" content="../static/logo.png">
    <meta property="og:url" content="https://kontextus.eu">
    <link rel="stylesheet" href="../static/stylesprivacy.css">
    <link rel="icon" type="image/png" href="../static/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<h1>KONT<span class="highlight">EXTUS</span>.</h1>
<hr>
<h1>Adatvédelmi irányelvek</h1>
<p>Az Ön adatvédelme fontos számunkra. A Kontextus irányelve, hogy tiszteletben tartja az Ön adatvédelmét az Öntől a Kontextus weboldalon és az általunk tulajdonolt és üzemeltetett egyéb weboldalakon gyűjtött információkkal kapcsolatban.</p>
<p>Csak akkor kérünk személyes adatokat, ha valóban szükségünk van rá egy szolgáltatás nyújtásához. Ezt tisztességes és törvényes módon tesszük, az Ön tudtával és beleegyezésével. Azt is elmondjuk, miért gyűjtjük és hogyan fogjuk felhasználni.</p>
<p>Csak addig őrizzük meg a gyűjtött információkat, ameddig szükséges a kért szolgáltatás nyújtásához. Amikor adatokat tárolunk, kereskedelmileg elfogadható módon védjük azokat a veszteségek és lopások, valamint az illetéktelen hozzáférés, nyilvánosságra hozatal, másolás, felhasználás vagy módosítás ellen.</p>
<p>Nem osztjuk meg a személyazonosításra alkalmas információkat nyilvánosan vagy harmadik felekkel, kivéve, ha azt a törvény előírja.</p>
<p>Weboldalunkon lehetnek külső weboldalakra mutató linkek, amelyeket nem mi üzemeltetünk. Kérjük, vegye figyelembe, hogy nincs ellenőrzésünk ezen oldalak tartalma és gyakorlatai felett, és nem vállalhatunk felelősséget azok adatvédelmi irányelveiért.</p>
<p>Ön szabadon elutasíthatja a személyes adatainak kérését, azzal a megértéssel, hogy előfordulhat, hogy nem tudjuk biztosítani Önnek a szükséges szolgáltatások egy részét.</p>
<p>Weboldalunk folyamatos használata az adatvédelmi és személyes adatok kezelésére vonatkozó gyakorlataink elfogadásának minősül. Ha bármilyen kérdése van azzal kapcsolatban, hogyan kezeljük a felhasználói adatokat és személyes adatokat, kérjük, lépjen kapcsolatba velünk. Email cím: kissmihalyit@gmail.com</p>

<h2>Süti Irányelv</h2>
<h3>Mik azok a sütik?</h3>
<p>A sütik kisméretű fájlok, amelyeket az Ön számítógépére töltünk le, hogy javítsuk az Ön élményét. Ez az oldal leírja, milyen információkat gyűjtenek, hogyan használjuk fel őket, és miért szükséges néha ezeket a sütiket tárolni. Azt is megosztjuk, hogyan akadályozhatja meg ezeknek a sütiknek a tárolását, azonban ez leminősítheti vagy "tönkreteheti" a webhely bizonyos funkcióit.</p>

<h3>Hogyan használjuk a sütiket?</h3>
<p>A sütiket különböző okokból használjuk, amelyek részletezése alább található. Sajnos a legtöbb esetben nincsenek iparági szabványok a sütik letiltására anélkül, hogy teljesen letiltanánk a hozzáadott funkciókat és jellemzőket ezen az oldalon. Ajánlott, hogy hagyja engedélyezve az összes sütit, ha nem biztos abban, hogy szüksége van-e rájuk, ha olyan szolgáltatást használnak, amelyet használ.</p>

<h3>A sütik letiltása</h3>
<p>A sütik beállítását megakadályozhatja a böngészője beállításainak módosításával (lásd a böngésző súgóját, hogyan kell ezt megtenni). Kérjük, vegye figyelembe, hogy a sütik letiltása hatással lesz ezen és sok más webhely funkcionalitására, amelyet látogat. A sütik letiltása általában a webhely bizonyos funkcióinak és jellemzőinek letiltását eredményezi. Ezért ajánlott, hogy ne tiltsa le a sütiket.</p>

<h3>Harmadik fél sütik</h3>
<p>Megbízható harmadik felek által biztosított sütiket használunk. Az alábbi szakasz részletezi, mely harmadik fél sütikkel találkozhat ezen a webhelyen.</p>
<p>Ez a webhely a Google Analytics-et használja, amely az egyik legelterjedtebb és legmegbízhatóbb elemzési megoldás a weben, hogy segítsen megérteni, hogyan használja a webhelyet, és hogyan javíthatjuk az Ön élményét. Ezek a sütik nyomon követhetik az olyan dolgokat, mint például, hogy mennyi időt tölt a webhelyen és az oldalakon, amelyeket meglátogat, hogy folyamatosan vonzó tartalmat állíthassunk elő. További információ a Google Analytics sütikről a hivatalos Google Analytics oldalon található.</p>
<p>Harmadik fél elemzéseket használunk a webhely használatának nyomon követésére és mérésére, hogy folytathassuk a vonzó tartalmak előállítását. Ezek a sütik nyomon követhetik például, hogy mennyi időt tölt a webhelyen vagy az oldalakon, amelyeket meglátogat, ami segít megérteni, hogyan javíthatjuk a webhelyet Önnek.</p>
<p>Időről időre új funkciókat tesztelünk és finom változtatásokat végzünk a webhely kinézetén. Amikor még mindig új funkciókat tesztelünk, ezek a sütik biztosíthatják, hogy következetes élményt nyújtsanak a webhelyen, miközben megértjük, mely optimalizációkat értékelik a felhasználók a legjobban.</p>
<p>Mivel termékeket értékesítünk, fontos számunkra, hogy megértsük, hány látogató vásárol valóban, ezért ez az adat nyomon követhető ezekkel a sütikkel. Ez fontos Önnek, mert így pontos üzleti előrejelzéseket készíthetünk, amelyek lehetővé teszik számunkra, hogy elemezzük a hirdetéseink és termékköltségeinket, hogy biztosítsuk a lehető legjobb árat.</p>
<p>A Google AdSense szolgáltatás, amelyet a hirdetések megjelenítéséhez használunk, DoubleClick sütit használ, hogy relevánsabb hirdetéseket jelenítsen meg az interneten, és korlátozza, hogy egy adott hirdetés hányszor jelenik meg Önnek. További információ az AdSense-ről a hivatalos AdSense Adatvédelmi GYIK-ban található.</p>
<p>A hirdetéseket azért használjuk, hogy fedezzük az oldal működésének költségeit és finanszírozzuk a jövőbeni fejlesztéseket. Az ezen a webhelyen használt viselkedési hirdetési sütik biztosítják, hogy a lehető legrelevánsabb hirdetéseket jelenítsük meg Önnek, anonim módon követve az érdeklődési körét, és hasonló dolgokat jelenítve meg, amelyek érdekelhetik Önt.</p>
<p>Különböző partnerek hirdetnek a nevünkben, és az affiliate nyomkövető sütik egyszerűen lehetővé teszik számunkra, hogy lássuk, ha az ügyfeleink az egyik partnerünk weboldalán keresztül jutottak el hozzánk, hogy megfelelően jóváírjuk őket, és ahol alkalmazható, lehetővé tegyük az affiliate partnereink számára, hogy promóciókat kínáljanak, amelyek vásárlásra ösztönözhetik Önt.</p>

<h2>Felhasználói kötelezettségek</h2>
<p>A felhasználó vállalja, hogy megfelelően használja a tartalmakat és információkat, amelyeket a Kontextus kínál a weboldalon, az alábbiak szerint, de nem kizárólag:</p>
<ul>
    <li>A) Nem végez illegális vagy jóhiszeműséggel és a közrenddel ellentétes tevékenységeket;</li>
    <li> Nem terjeszt faji, idegengyűlölő vagy szerencsétlen jellegű propagandát vagy tartalmat, semmilyen illegális pornográfiát, terrorizmust támogató tartalmat vagy emberi jogok elleni tartalmat;</li>
    <li>C) Nem okoz kárt a Kontextus fizikai (hardver) és logikai (szoftver) rendszereiben, beszállítóiban vagy harmadik feleiben, nem vezet be vagy terjeszt számítógépes vírusokat vagy bármilyen más hardver vagy szoftver rendszert, amely a fent említett károkat okozhatja.</li>
</ul>

<h2>Az adatvédelmi irányelvek módosítása</h2>
<p>Az adatvédelmi irányelvek jelen verzióját 2024. júliusában fogalmazták meg és frissítették utoljára.</p>
<p>Fenntartjuk a jogot az adatvédelmi irányelvek bármikori módosítására, főként a weboldalunkhoz tett bármilyen változtatás vagy a jogszabályi környezet függvényében. Javasoljuk, hogy rendszeresen tekintse át ezeket.</p>
<p>Bármilyen változtatás hatályba lép az azok weboldalunkon való közzétételétől kezdve, és mindig értesítjük Önt a változásokról.</p>
<p>Szolgáltatásaink használatával és személyes adatainak megadásával ezen módosítások után beleegyezését adja azokhoz.</p>

<h2>További információk</h2>
<p>Remélhetőleg minden egyértelmű, és amint azt korábban említettük, ha van valami, amiben nem biztos, hogy szüksége van-e rá, általában biztonságosabb, ha a sütik engedélyezve maradnak, ha azok valamelyik funkcióval lépnek kölcsönhatásba, amelyet használ a webhelyen.</p>
<p>Ez az irányelv 2024 júliusától érvényes.</p>
<p class="last"><strong>Csak EU felhasználóknak:</strong> Amikor használja webhelyünket, előre kiválasztott cégek hozzáférhetnek bizonyos információkhoz az Ön eszközén és az érdeklődési köréről, hogy hirdetéseket vagy személyre szabott tartalmat szolgáltathassanak Önnek. Bármikor újra meglátogathatja vagy megváltoztathatja a hozzájárulási választásait, ha ide kattint.</p>
 <a href="{{ url_for('home') }}" class="privacylink">Vissza a játékhoz</a>
</body>
</html>